@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

$Fraunces: "Fraunces", serif;
$Barlow: "Barlow", sans-serif;
$DarkCyan: #0E8784;
$DarkGreyBlue: #333D4B;
$PaleOrange: #fdd6ba;
$LightCream: #FEFCF7;
$Grey : #83888F;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    width: 1440px;
    height: 2890px;
    margin-left: 100px;
    padding: auto;

    &__nav {
        width: 1440px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 114px;
        width: 1280px;

        &__logo {
            align-items: center;
            width: 236px;
            height: 26px;
            padding: 0.44px 0.1px 0.56px 0.9px;

        }

        &__list {
            display: flex;
            align-items: center;
            gap: 40px;

            &__link {
                color: gray;
                font-family: $Barlow;
                font-size: 12px;
                font-weight: 700;
                line-height: 15px;
                letter-spacing: 0.9230769276618958px;
                text-align: left;
                transition: all 0.5s ease-in-out;
            }

            &__link:hover {
                color: black;
            }
        }
    }

    &__hero {
        width: 1280px;
        height: 450px;
        background-image: url('./images/Group\ 7.png');

        &__left {
            margin-left: 100px;
            padding-top: 130px;

            &__title {
                width: 188px;
                height: 48px;
                font-size: 40px;
                font-weight: 900;
                line-height: 48px;
                text-align: left;
                color: $LightCream;
                font-family: $Fraunces;

            }

            &__text {
                width: 445px;
                height: 104px;
                opacity: 0.8px;
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                text-align: left;
                color: $LightCream;
                padding: 25px 0;
                font-family: $Barlow;
            }
        }


    }

    &__main {
        width: 1110px;
        height: 520px;
        display: flex;
        margin: 170px;
        justify-content: space-between;
        align-items: center;
        margin-left: 90px;

        &__img {
            width: 445px;
            height: 520px;

        }

        &__span {
            width: 540px;
            height: 340px;
            margin: auto auto auto 130px;


            &__title {
                width: 357px;
                height: 48px;
                font-family: $Fraunces;
                font-size: 40px;
                font-weight: 900;
                line-height: 48px;
                text-align: left;
                color: #333D4B;
            }

            &__text {
                width: 540px;
                height: 260px;
                opacity: 0.8px;
                font-family: $Barlow;
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                text-align: left;
                color: #333D4B;
                margin: 35px 0;
            }
        }
    }

    &__section {
        width: 1280px;
        height: 474px;
        background-image: url("./images/Bitmap.png");
        display: flex;
        justify-content: space-between;

        &__section-left {
            width: 540px;
            height: 210px;
            top: 1595px;
            left: 165px;
            margin: auto;

            &__title {
                width: 517px;
                height: 48px;
                font-family: $Fraunces;
                font-size: 40px;
                font-weight: 900;
                line-height: 48px;
                text-align: left;
                color: #FEFCF7;
                margin-bottom: 25px;

            }

            &__text {
                width: 540px;
                height: 130px;
                opacity: 0.8px;
                font-family: $Barlow;
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                text-align: left;
                color: #FEFCF7;
            }
        }

        &__img {
            width: 445px;
            height: 474px;
            top: 1419px;
            left: 830px;
            margin: -100px 50px 0 0;
        }
    }

    &__article {
        width: 1045px;
        height: 366px;
        margin: 100px;

        &__title {
            width: 255px;
            height: 32px;
            font-family: $Fraunces;
            font-size: 24px;
            font-weight: 900;
            line-height: 32px;
            text-align: left;
            color: #83888F;
            margin-bottom: 90px;

        }

        &__cards {
            width: 1045px;
            height: 262px;
            display: flex;
            justify-content: space-between;

            &__card {
                width: 285px;
                height: 262px;
                display: flex;
                flex-direction: column;

                &__img {
                    margin-bottom: 50px;
                    width: 40.84px;
                    height: 49.07px;

                }

                &__texts {
                    width: 285px;
                    height: 167px;
                    top: 199px;

                    &__title {
                        width: 272px;
                        height: 36px;
                        font-family: $Fraunces;
                        font-size: 32px;
                        font-weight: 900;
                        line-height: 36px;
                        text-align: left;
                        color: #333D4B;

                    }

                    &__texts {
                        width: 285px;
                        height: 107px;
                        font-family: $Barlow;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 26px;
                        text-align: left;
                        color: #333D4B;

                    }

                    &__text {
                        width: 285px;
                        height: 107px;
                        font-family: $Barlow;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 26px;
                        text-align: left;
                        color: #333D4B;
                        display: flex;
                    }
                }
            }
        }
    }

    &__footer {
        width: 1280px;
        height: 120px;
        top: 3387px;
        left: 80px;
        background: #2C343E;
        margin-top: 330px;
        display: flex;
        justify-content: space-around;
        padding: 50px;
        align-items: center;

        &__span {
            width: 622px;
            height: 26px;
            top: 3434px;
            left: 165px;
            padding: 0 0.1px 0 0;
            display: flex;
            justify-content: space-between;

            &__logo {
                width: 236px;
                height: 26px;
                top: 3434px;
                left: 165px;
                padding: 0.44px 0.1px 0.56px 0.9px;

            }

            &__list {
                width: 283px;
                height: 15px;
                top: 3440.44px;
                left: 503.9px;
                padding: 0px 1px 0px 0px;
                display: flex;
                justify-content: space-between;

                &__link {
                    font-family: $Barlow;
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 15px;
                    letter-spacing: 0.9230769276618958px;
                    text-align: left;
                    color: #83888F;

                }

                &__link:hover {
                    color: #FEFCF7;
                }
            }
        }

        &__social-networks {
            width: 120px;
            height: 24px;
            top: 3434px;
            left: 1155px;
            display: flex;
            gap: 25px;
        }
    }
}